<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OkriBateriaPsicopedagogica"
        tools:targetApi="31">
        <activity
            android:name=".principal_menu2"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipalAlumnos"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Notificaciones"
            android:exported="false" />
        <activity
            android:name=".Chat"
            android:exported="false" />
        <activity
            android:name=".MensajesChat"
            android:exported="false" />
        <activity
            android:name=".Foro_Alumnos"
            android:exported="false" />
        <activity
            android:name=".TablaBaterias"
            android:exported="false" />
        <activity
            android:name=".itemAlumno"
            android:exported="false" />
        <activity
            android:name=".TablaAlumno"
            android:exported="false" />
        <activity
            android:name=".CursosActivity"
            android:exported="false" />
        <activity
            android:name=".DetallesAlumno"
            android:exported="false"
            android:theme="@style/Theme.OkriBateriaPsicopedagogica" />
        <activity
            android:name=".FormularioBateria"
            android:exported="false" />
        <activity
            android:name=".Publicacion_Foro"
            android:exported="false" />
        <activity
            android:name=".Foro_Alumnos"
            android:exported="false" />
        <activity
            android:name=".Formulario_Alumnos"
            android:exported="false" />
        <activity
            android:name=".Formulario_Alumno"
            android:exported="false" />
        <activity
            android:name=".Bateria_Form_Alumno"
            android:exported="false" />
        <activity
            android:name=".battery_form"
            android:exported="false" />
        <activity
            android:name=".NuevaPublicacion"
            android:exported="false" />
        <activity
            android:name=".Forum"
            android:exported="false" />
        <activity
            android:name=".forum"
            android:exported="false" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".Revision_tabla"
            android:exported="false" />
        <activity
            android:name=".Revision_Baterias"
            android:exported="false" />
        <activity
            android:name=".Baterias"
            android:exported="false" />
        <activity
            android:name=".OlvideContrasena"
            android:exported="false"
            android:theme="@style/Theme.OkriBateriaPsicopedagogica" />
        <activity
            android:name=".RegistrarCuenta"
            android:exported="false" />
        <activity
            android:name=".PrincipalMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>